.subsContainer {
    background-color: rgb(3, 3, 88);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    padding: 1%;   
}

.subsDiv1 {
    display: flex;
    justify-content: space-between;
    margin: 1% 0px;
}

.subsButton {
    background-color: blue;
    color: white;
    /* cursor: pointer; */
}

.subsInput, .subsButton {
    padding: 2px;
    margin: 4px;
}

@media screen and (max-width: 385px) {
    .subsDiv1 {
        flex-direction: column;
        align-items: center;
    }
  }